<div class="top-navigation">
  <ul class="left">
    <li>
      <a href="{{ site.baseurl }}/">
        <img src="{{site.github.url}}/assets/mantra_logo_horizontal_black.png" alt="{{ site.title }}" style="width: 180px;" />
      </a>
    </li>
  </ul>
  <ul class="right">
    <li>{% include icon-paper-plane.svg %}<a href="#">Get started</a></li>
    <li>{% include icon-book.svg %}<a href="#">Documentation</a></li>
    <li>{% include icon-open-book.svg %}<a href="https://kadirahq.github.io/mantra/">Mantra Spec 0.2.0</a></li>
    <li>{% include icon-github.svg %}<a href="https://github.com/kadirahq/mantra">Mantra on github</a></li>
  </li>
</div>
